.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 8px 5px rgba(173, 166, 166, 0.5);
  /* צבע חצי שקוף שייקח מהגוון הכללי של הרקע */
  background-color: rgba(255, 255, 255, 0.2);

  /* מטושטש את מה שמאחוריו */
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(10px);
  /* תמיכה בספארי */

  /* אם רוצים גבול שקוף ומעוגל שמשתלב יפה */
  /* border: 1px solid rgba(255, 255, 255, 0.3); */
  /* color: white; */
  padding: 10px 20px;
  direction: rtl;
}

.navbar-links {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar-links li a {
  /* color: white; */
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  padding: 8px 5px;
  transition: all 0.3s ease;
  border-radius: 6px;
}
.navbar-links li a:hover {
  border: 1px solid #6a3093;
  background-color: rgba(106, 48, 147, 0.1);
}


.navbar-actions {
  display: flex;
  align-items: center;
  gap: 12px;
}

.navbar-logo {
  height: 36px;
  margin-left: 12px;
}

.circle-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: none;    
  border: none;           
  padding: 0;            
  cursor: pointer;
}

.icon-image {
  width: 40px;
  height: 40px;
  object-fit: contain;
  vertical-align: middle;
  transition: transform 0.3s ease;
  object-fit: contain;
}
.icon-image:hover {
  transform: scale(1.5);
  transition: transform 0.3s ease;
}
button.login-button {
  background-image: linear-gradient(to right, #6a3093 0%, #a044ff 51%, #6a3093 100%);
  margin: 5px;
  padding: 15px 45px;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
}
button.login-button:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}